html, body {
	height: 100%;
	background: $backGray;
	font-family: "raleway",sans-serif;
	color: $black;
	font-size: 12px;

	@mixin atMedium {
		font-size: 16px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	font-family: "raleway", sans-serif;
}

polygon:hover {
	fill: $red;
}


.background-image {
	background-position: center center;
	background-size: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: $black;
	height: 100%;
}
