.content-wrapper {
	background-color: #FFF;
	height: 1200px;
	padding: 30px;
	font-size: 120%;
	margin: -10%;

	@mixin atMedium {
		font-size: 150%;
		margin: 0;
	}

	.content {
		display: none;
	}
	.content.active {
		display: block;
	}
}