.events-page {
	background-image: url('../images/pages/icons/back-pattern.svg');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: bottom right;

	&__header {
		position: relative;
		width: 100%;
		display: block;
	}

	.details-wrapper {
		margin-top: 10px;
		padding: 10px;

		@mixin atMedium {
			margin-top: 100px;
			padding: 30px;
		}
	}
}