.clients {

	&__large {
		height: 70%;
		text-align: center;

		@mixin atMedium {
			height: 65%;
		}

		&__button {
			display: block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 0;

			@mixin atMedium {
				margin-top: 30px;
			}
		}
	}

	&__small {
		&__title {
			font-size: 30px;
			color: lighten($black, .7);
			padding-top: 30px;
			padding-left: 10px;
			margin: 0;
			background: url('../assets/dark-pattern.png') center center;
			background-size: contain;
			text-transform: uppercase;

			@mixin atMedium {
				padding-top: 60px;
			}
		}

		img {
			height: 100%;
		}
	}

	.control {
			background-color: $black;
			width: 100px;
			height: 50px;
			color: #FFF;
		}

	.sponsers {
		width: 100%;
		padding: 0 10px;
		margin: 10px 0;
		position: relative;
		transition: all 5s ease;

		&:hover {
			transform: translateX(-50%);
		}

		&__item {
			background-color: $red;
			margin: 10px;
			width: 200px;
			height: 100px;
			float: left;
		}
	}

}

#testimonial-slider {
	height: 75%;
	margin-bottom: 10%;

	@mixin atMedium {
		margin-bottom: 0;
	}
}