.form {

	label {
		position: absolute;
		left: -9999px;
	}

	input {
		margin: 10px 0;
		height: 40px;
		width: 100%;
		padding: 10px;
	}

	textarea {
		width: 100%;
		padding: 10px;
	}

	@mixin atMedium {
		input, textarea {
			width: 300px;
		}
	}


}