.large-hero {
	background-image: url('../assets/hero.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;



	@mixin atMedium {
		background-attachment: fixed;
		background-position: 50% 50%;
	}

	&__site-logo {
		width: 150px;
		position: absolute;
		z-index: 1;
		top: 20px;
		left: 20px;

		@mixin atMedium {
		}
		
	}

	&__triangle-pattern {
		display: none;

		@mixin atMedium {
			display: block;
			position: absolute;
			width: 60%;
			opacity: .4;
			left: 180px;
			top: 90px;
		}
	}
	&__triangle-pattern--small {
		position: absolute;
		width: 70%;
		opacity: .5;
		right: 0px;
		bottom: 0px;

		@mixin atMedium {
			width: 20%;
			opacity: .5;
			right: 0px;
			bottom: 0px;
		}
	}

	&__slogen {
		position: absolute;
		bottom: 25%;
		color: #FFF;
		font-size: 70px;
		text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
		opacity: .4;

		@mixin atMedium {
			bottom: 50px;
			right: 10px;
			color: #FFF;
			font-size: 70px;
		}
	}
	
}