.nav {
	background: rgba($black, .7);
	width: 50%;
	height: 100%;
	padding-top: 50px;

	@mixin atMedium {
		width: 20%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 50px 50px 0 30px;
		
		li > a {
			display: inline-block;
			width: 100px;
			height: 30px;
			padding: 5px;
			margin-bottom: 15px;
			margin-left: 25%;
			text-decoration: none;
			color: #FFF;
			border-bottom: 1px solid;
		}
		li > a:hover {
			background-color: rgba($black, .3);
		}
	}

	&--pull-right {
		position: fixed;
		top: 0;
		right: 0;
	}
}