.slider-wrapper {
	overflow: hidden;
	height: 100%;
	position: relative;

	.slide {
		height: 100%;
		display: none;

		&--visible {
			display: block;
		}

	}

	&--narrow {
		width: 70%;
		overflow: scroll;

		.slide {
			background-color: $red;
			margin: 5px;
			height: 100%;
		}
	}

	.next {
		width: 100px;
		background-color: $black;
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translateX(-50%);
		color: #FFF;
		padding: 10px;
		cursor: pointer;
		border: 0;
	}
}