.team {
	background: url('../assets/pattern-top.svg') top center no-repeat;
	background-size: contain;

	&__heading {
		font-size: 35px;
		color: $black;
		text-align: center;
		padding-top: 60px;
	}

	&__names {

	}

	&__info {
		background-color: rgba($black , .3);
		padding-bottom: 1px;

		@mixin atMedium {
			background-color: inherit;
		}
	}

	&__photo {
		margin: 50px auto;
		width: 120px;
		height: 120px;

		@mixin atMedium {
			margin: 30px auto;
			width: 200px;
			height: 200px;
		}
	}

	&__bio {
		background-color: lighten($black, .1);
		margin: 20px auto;
		width: 300px;
		padding: 10px;
		text-align: justify;
		color: #FFF;

		@mixin atMedium {
			margin: 50px auto;
		}
	}

	&__quote {
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&__pillow {
		position: relative;
		background: url('../assets/left-pillow.svg') top center no-repeat;
		height: 60px;
		font-size: 12px;
		font-weight: bold;
		color: #FFF;
		margin-bottom: -10px;
		margin-right: -50px;
		margin-left: 15px;
		width: 49%;
		display: inline-block;


		@mixin atMedium {
			height: 100px;
			width: 200px;
			font-size: 18px;
			margin-bottom: -10px;
			margin-left: 0;
			margin-right: 0;
			display: block;
			cursor: pointer;
		}

		span {
			position: absolute;
			left: 38%;
			top: 46%;

			@mixin atMedium {
				left: 31%;
			}
		}


		&--right {
			background: url('../assets/right-pillow.svg') top center no-repeat;

			span {
				position: absolute;
				left: 51%;
				top: 46%;
			}
		}
	}

	&__things {
		position: relative;
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&__button {
		position: absolute;
		bottom: 5%;
		right: 50%;
		transform: translateX(50%);

		@mixin atMedium {
			bottom: 10%;
			right: 10%;
		}
	}

	.team-member {
		display: none;

		&--visible {
			display: block;
		}
	}
}