.about-page {
background-color: #FFF;

	@mixin atMedium {
		background: url('../images/about-back1.png') bottom 10% right no-repeat,
		url('../images/about-back2.png') top 30% left no-repeat;
		background-color: #FFF;
		background-size: 25% auto;

		text-align: center;
	}

	.about {
		width: 100%;
		text-align: justify;

		@mixin atMedium {
			width: 100%;
			margin-bottom: 50px;
		}
	}

	.vision, .mission, .logo {

		@mixin atMedium {
			display: inline-block;
			vertical-align: middle;
			width: 32%;
			padding-right: 4%;
		}
	}

	.logo {
		display: none;

		@mixin atMedium {
			display: inline-block;
			width: 200px;
		}
	}

	.nat2030 {
		text-align: left;
		margin-top: 50px;

		img {
			width: 200px;
			margin: auto;
			display: block;
		}


		@mixin atMedium {
			.title {
				width: 80%;
				margin: auto;
			}
		}
		
	}
}