.about-page {
	text-align: left;

	@mixin atMedium {
		background: url('../images/about-bg.png') top -30% left no-repeat;
		background-color: #FFF;
		background-size: cover;

		text-align: center;
	}

	.about {
		width: 100%;

		@mixin atMedium {
			width: 150%;
			margin-left: -20%;
			margin-bottom: 50px;
		}
	}

	.logo {
		display: none;

		@mixin atMedium {
			display: block;
			width: 200px;
		}
	}
}