.content-wrapper {
	background-color: #FFF;
	padding: 30px;
	margin: 0;
	padding-bottom: 100px;

	@mixin atMedium {
		padding-bottom: 30px;
	}

	.content {
		display: none;
		padding: 10px;
	}
	.content.active {
		display: block;
	}
}