.events-page {
	background-image: url('../icons/back-pattern.svg');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: bottom right;

	.details-wrapper {
		margin-top: 10px;
		padding: 10px;

		@mixin atMedium {
			margin-top: 100px;
			padding: 30px;
		}
	}
}