.icon-wrapper {
	text-align: center;
	background-color: lighten($black, .3);
	padding: 5px 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 20;

	@mixin atMedium {
		background-color: initial;
		padding: 0;
		margin-top: 15px;
		position: relative;
	}

	&__icon {
		width: 24%;
		padding: 10px;
		display: inline-block;
		cursor: pointer;
		transition: background-color .4s ease;
		border-bottom: 3px solid transparent;

		img {
 			display: block;
 			height: 70px;
 			margin: auto;
 			position: relative;
 			filter: grayscale(80);
 			transition: all .2s ease;
		}

		@mixin atMedium {
			display: block;
			width: auto;
			border: none;
			height: 70px;
			margin: 100px 50px;
			padding: 15px;
			position: relative;
			transition: transform .2s ease, background-color .5s ease;

			&:first-of-type {
				margin-top: 50px;
			}
			

		}

		&::after {
			content: "";
			position: absolute;
			visibility: hidden;
			transition: all .3s ease;

			@mixin atMedium {
				top: 40%;
				right: -8%;
				visibility: hidden;
				opacity: 0;
				width: 0;
				height: 0;
				border-top: 30px solid transparent;
				border-bottom: 30px solid transparent;
				border-left: 30px solid $red;
				transition: all .3s ease;
			}	
		}

		&.active {
			border-bottom: 3px solid;
			border-bottom-color: rgba($red,.7);

			img {
				filter: grayscale(0);
			}

			@mixin atMedium {
				border: none;
			}

			&::after {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover {
			border-bottom: 3px solid;
			border-bottom-color: rgba($red,.7);

			img {
				filter: grayscale(100);
			}

			@mixin atMedium {
				border: none;
				transform: scale(1.1);
			}
		}

	}


	&__text {
		font-weight: bold;
		font-size: 50%;
		position: relative;
		bottom: -100%;
		display: none;

		@mixin atMedium {
			font-size: 120%;
			padding-top: 25px;
			font-weight: 100;
			display: inline-block;
		}
		
	}
}