.contact {
	&.lazyloaded {
		background: url('../images/contact-back.jp2') top right no-repeat;
		background-size: contain;
		background-color: lighten($black, .5);

		@mixin atMedium {
			background: url('../images/contact-back-hi.jp2') top right no-repeat;
			background-size: contain;
			background-color: lighten($black, .5);
		}
	}


	&__form {
		margin-top: 10%;
		height: 60%;
		position: relative;
		right: 0;

		@mixin atMedium {
			margin-top: 5%;
			height: auto;
		}
	}
}