.contact {
	position: relative;
	
	&.lazyloaded {
		background: url('../images/contact-back.png') top right no-repeat;
		background-size: contain;
		background-color: lighten($black, .5);

		@mixin atMedium {
			background: url('../images/contact-back-hi.png') top right no-repeat;
			background-size: contain;
			background-color: lighten($black, .5);
		}
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}


	&__form {
		margin-top: 10%;
		padding: 5%;
		position: relative;
		right: 0;
		@mixin clearfix;


		@mixin atMedium {
			margin-top: 5%;
			padding: 0 5%;
			height: auto;

			.left {
				float: left;
				margin-right: 10px;
			}
		}
	}
}