.filter {
	display: none;

	@mixin atMedium {
		display: block;

		&__wrapper {
			background-color: $black;
			text-align: center;
		}

		&__item {
			font-weight: bold;
			display: inline-block;
			padding: 10px;
			color: #FFF;
			width: 50%;


			&:hover, .active {
				background-color: $red;
			}
		}
	}
	
}