form {

	label {
		position: absolute;
		left: -9999px;
	}

	input, select {
		margin: 5px 0;
		width: 300px;
		height: 40px;
		padding: 10px;
		background-color: $black;
		border: 1px solid $black;
		color: #FFF;
		font-size: 100%;

		@mixin atMedium {
			margin: 20px;
		}
	}

	textarea {
		width: 300px;
		height: 250px;
		padding: 10px;
		margin: 5px 0;
		border: 1px solid $backGray;
		font-size: 100%;

		@mixin atMedium {
			width: 400px;
		}
	}

	.narrow {
		width: 300px;
		height: 150px;
		margin: 10px;

	}

	input[type="submit"] {
		border: none;
	}

	.checkbox {
		input {
			width: 20px;
			height: 20px;
		}
	}



}