.gallery {
	margin-top: 50px;

	&__image {
		position: relative;
		margin: 1%;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		transition: all .4s ease;

		img {
			width: 100%;
		}

		@mixin atMedium {
			width: 30%;

			&:hover {
				transform: scale(1.1);
				z-index: 3;
			}
		}

		
	}

	&__caption {
		position: absolute;
		bottom: 1%;
		right: 0;
		left: 0;
		padding: 10px;
		background-color: rgba($red, .7);
		color: #FFF;
		text-align: center;
	}

	&--side {
		margin-top: 10px;

		.gallery__image {
			width: 47%;
		}

		@mixin atMedium {
			margin-top: -5%;

			.gallery__image {
				width: 100%;
			}
		}

	}
}