.icon {
		position: fixed;
		top: 50px;
		right: 5%;
		width: 30px;
		height: 30px;
		z-index: 10;
		cursor: pointer;

		@mixin atMedium {
			top: 50px;
			width: 30px;
			height: 30px;
			right: 2%;
		}

		&::before, &__middle, &::after {
			position: absolute;
			left: 0;
			height: 3px;
			background-color: #FFF;

			@mixin atMedium {
				height: 5px;
			}
		}

		&::before {
			content: "";
			top: 0;
			width: inherit;
			transform-origin: top left;
			transition: all .5s ease-out; 

		}

		&__middle {
			top: 13px;
			width: inherit;
			transition: all .5s ease-out; 
			transform-origin: left center;

			@mixin atMedium {
				top: 13px;
			}
		}

		&::after {
			content: "";
			bottom: 0;
			width: inherit;
			transform-origin: bottom left;
			transition: all .5s ease-out; 
		}

		&--close-x {
			&::before {
				transform: rotate(45deg) scaleX(1.25);
			}

			.icon__middle {
				opacity: 0;
				transform: scaleX(0);
			}

			&::after {
				transform: rotate(-45deg) scaleX(1.25);
			}
		}

		&--color-red {
		&::before, &::after {
				background-color: $red;
			}
		}

		&--top {
			position: absolute;
			top: 20px;

			@mixin atMedium {
				top: 50px;
			}
		}
}
