.large-hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;

	@mixin atSmall {
		background-image: url('../images/hero-hi.jpg');
		background-attachment: fixed;
		background-position: 20% 50%;
	}

	@mixin atMedium {
		background-image: url('../images/hero-hi.jpg');
		background-attachment: fixed;
		background-position: 50% 50%;
	}

	&__triangle-pattern {
		display: none;

		@mixin atSmall {
			display: block;
			position: absolute;
			width: 80%;
			opacity: .4;
			left: 10%;
			top: 20%;
		}

		@mixin atMedium {
			display: block;
			position: absolute;
			width: 60%;
			opacity: .4;
			left: 180px;
			top: 90px;
		}
	}
	&__triangle-pattern--small {
		position: absolute;
		width: 70%;
		opacity: .3;
		right: 0px;
		bottom: 0px;

		@mixin atSmall {
			display: none;
		}

		@mixin atMedium {
			width: 20%;
			opacity: .3;
			right: 0px;
			bottom: 0px;
		}
	}

	&__slogen {
		position: absolute;
		width: 100%;
		bottom: 15%;
		padding: 5%;
		right: 0;
		color: #FFF;
		font-size: 500%;
		text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
		opacity: .4;

		@mixin atSmall {
			bottom: 10%;
		}


		@mixin atMedium {
			bottom: 50px;
			right: 10px;
			color: #FFF;
			font-size: 70px;
			padding: 0;
		}
	}
	
}