.nav {
	position: fixed;
	z-index: 9;
	top: 0;
	right: -100%;
	background: rgba($black, .9);
	width: 60%;
	height: 100%;
	padding-top: 50px;
	transition: all 0.7s ease-in-out;


	@mixin atMedium {
		width: 25%;
	}

	&--is-visible {
		right: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 50px 50px 0 30px;
		
		li > a {
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			height: 30px;
			padding: 5px;
			margin-bottom: 15px;
			margin-left: 15%;
			text-decoration: none;
			color: #FFF;
			border-bottom: 1px solid;

			@mixin atMedium {
				font-size: 100%;
				width: 150px;
				padding: 20px 15px;
			}
		}
		li > a:hover {
			background-color: rgba($black, .8);
		}
	}

}