.our-services {
	&.lazyloaded {
		background: url('../images/our-services-l.png') no-repeat top 30% left, url('../images/our-services-r.png') no-repeat bottom right;
		background-size: 70% auto;
		background-color: $black;
	}
	position: relative;
	display: block;
	text-align: center;


	@mixin atMedium {
		&.lazyloaded {
			background: url('../images/our-services-l.png') no-repeat top left, url('../images/our-services-r.png') no-repeat top right;
			background-size: contain;
			background-color: $black;
		}
		
		display: block;
		text-align: center;
	}

	&__title {
		font-size: 50px;
		margin: 0;
		padding-top: 10%;
		color: #FFF;
		font-weight: bold;
		text-transform: uppercase;

		@mixin atMedium {
			font-size: 50px;
			padding-top: 3%;
		}
	}

	&__heading {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); 
		color: #FFF;
		font-size: 40px;
		font-weight: 100;
		background-color: rgba($black, .77);
		padding: 50px 0;
		margin: 0;

		@mixin atMedium {
		font-size: 50px;
		}

		&:first-of-type {
			left: 0;
			padding-left: 10%;
			padding-right: 50%;
			top: 40%;

			@mixin atMedium {
				padding-right: 25%;
				top: 50%;
			}
		}

		&:last-of-type {
			right: 0;
			padding-right: 10%;
			padding-left: 50%;
			top: 80%;

			@mixin atMedium {
				padding-left: 25%;
				top: 50%;
			}
		}
	}

	&__triangle-pattern {
		display: block;
		position: absolute;
		width: 60%;
		opacity: .5;
		bottom: -20px;
		left: 13%;

		@mixin atMedium {
			display: block;
			position: absolute;
			width: 37%;
			opacity: .5;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
		}

		.shape {
			opacity: .2;

			.polygon-fill {
				fill: none;
				stroke: #FFF;
				stroke-width: 2px;
			}
		}
	}
}