.page-header {

	&__menu {
		height: 70px;
		overflow: hidden;
		padding: 10px;
		background-color: $backGray;
		top: 0;
		right: 0;
		left: 0;

		@mixin atMedium {
			height: 120px;
			padding: 10px 20px;
		}
	}

	&__image {
		position: relative;
		width: 100%;
		display: block;
	}

}