.pillow {
	position: relative;
	background: $black;
	top: 20%;
	text-align: center;
	padding: 6px 8px;
	font-size: 100%;
	font-weight: 100;
	color: #FFF;
	margin:0;
	display: inline-block;
	transition: all .3s ease;
	cursor: pointer;

	@mixin atMedium {
		background: url('../images/left-pillow.svg') top center no-repeat;
		height: 100px;
		width: 200px;
		top: 30px;
		padding: 15px;
		font-weight: 500;
		margin-right: 10px;

		&:hover {
			transform: rotateZ(10deg);

		}
	}

	&.active {
		transform: translateY(-30%);
		pointer-events: none;
		background-color: $red;

		@mixin atMedium {
			background-color: transparent;
		}
	}

	

	span {
		position: relative;
		/*left: 28%;
		top: 50%;*/

		@mixin atMedium {
			position: absolute;
			left: 15%;
			top: 40%;
		}
	}


	&--right {
		background: $black;

		@mixin atMedium {
			background: url('../images/right-pillow.svg') top center no-repeat;
		}

		span {
			position: relative;
		/*	left: 51%;
			top: 46%;*/

			@mixin atMedium {
				position: absolute;
				left: 51%;
				top: 40%;
			}

		}
	}

}

