.search {
	margin-left: 15%;
	margin-top: 20px;

	&__field{
		display: inline-block;
		vertical-align: top;
		width: 100px;
		height: 40px;
		padding: 5px;
		background-color: rgba($black, .9);
		color: #FFF;

		@mixin atSmall {
			font-size: 130%;
			width: 250px;
			padding: 20px 15px;
		}

		@mixin atMedium {
			width: 250px;
		}
	}

	&__button {
		display: inline-block;
		vertical-align: top;
		background: url('../icons/search.png') no-repeat;
		background-size: contain;
		border: none;
		height: 40px;
		width: 40px;
		cursor: pointer;
	}
	
}