.search {
	margin-left: 15%;
	margin-top: 20px;

	&__field{
		display: inline-block;
		vertical-align: top;
		width: 90%;
		height: 40px;
		padding: 5px;
		background-color: rgba($black, .9);
		color: #FFF;

		@mixin atMedium {
			width: 230px;
		}
	}

	&__button {
		position: absolute;
		vertical-align: top;
		background: url('../icons/search.png') no-repeat;
		background-size: contain;
		border: none;
		height: 40px;
		width: 20%;
		cursor: pointer;
	}
	
}