.site-menu {

	display: block;
	position: relative;

	&__navigation {
		position: fixed;
		top: 16%;
		right: 6.5%;
		z-index: 10;

		@mixin atMedium {
			top: 15%;
			right: 2.3%;
		}

		.direct-page {
			display: block;
			height: 15px;
			width: 15px;
			border: 1px solid #FFF;
			text-decoration: none;
			color: #FFF;
			margin: 15px auto;
			border-radius: 100%;
			position: relative;
			cursor: pointer;

			@mixin atMedium {
				height: 20px;
				width: 20px;
				border: 2px solid #FFF;
			}

			.caption {
				display: none;
				color: #FFF;
				background-color: $red;
				font-size: 12px;
				text-align: center;
				position: absolute;
				left: -130px;
				top: -30%;
				padding: 10px;
				width: 120px;

				&::after {
					content: "";
					position: absolute;
					right: -8px;
					top: 35%;
					display: block;
					width: 0; 
					height: 0; 
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 10px solid $red;
				}
			}

			&:hover .caption {
				display: block;
			}
		}
		.active {
			background-color: $red;
		}

		.prev, .next {
			color: $red;
			font-size: 35px;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}
