.site-logo {
	position: absolute;
	width: 30%;
	z-index: 1;
	top: 20px;
	left: 20px;


		&--horizental {
			img {
				height: 50px;

				@mixin atMedium {
					height: 80px;
				}
			}
		}


	@mixin atSmall {
		width: 20%;
	}


	@mixin atMedium{
		width: 150px;
	}

}