.slider-wrapper {
	overflow: hidden;
	height: 100%;
	position: relative;

	.slide {
		height: 100%;
		display: none;

		&--visible {
			display: block;
		}

	}

	&--narrow {
		width: 70%;
		overflow: scroll;

		.slide {
			background-color: $red;
			margin: 5px;
			height: 100%;
		}
	}

	.next, .prev {
		background-color: transparent;
		border: 0;
		padding: 0;
		display: block;
		width: 0;
		height: 0;
		border-top: 18px solid transparent;
		border-bottom: 18px solid transparent;
		position: absolute;
		bottom: 30%;
		cursor: pointer;
		transition: transform .4s ease-out;

		@mixin atMedium {
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			bottom: 50%;
		}
	}

	.next {
		border-left: 18px solid $red;
		right: 4%;
		transform: translateX(-50%);

		@mixin atMedium {
			border-left: 25px solid $red;
		}

		&.disable {
			border-left-color: $black;
			pointer-events: none !important;
		}
	}

	.prev {
		border-right: 18px solid $red;
		left: 4%;
		transform: translateX(-50%);

		@mixin atMedium {
			border-right: 25px solid $red;
		}

		&.disable {
			border-right-color: $black;
			pointer-events: none !important;
		}
	}


}