.slider-wrapper {
	overflow: hidden;
	height: 100%;
	position: relative;

	.slide {
		height: 100%;
		display: none;

		&--visible {
			display: block;
		}

	}

	&--narrow {
		width: 70%;
		overflow: scroll;

		.slide {
			background-color: $red;
			margin: 5px;
			height: 100%;
		}
	}

	.next {
		background-color: transparent;
		border: 0;
		padding: 0;
		display: block;
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid $red;
		position: absolute;
		bottom: 50%;
		right: 10%;
		transform: translateX(-50%);
		cursor: pointer;
		transition: transform .4s ease-out;

	}
}