.testimonial {
	width: 80%;
	height: 90%;
	position: relative;
	padding-top: 10%;
	margin:0;

	@mixin atMedium {
		padding: 8% 5%;
		width: 100%;
	}

	&__photo {
		/*width: 150px;
		height: 150px;*/
		/*background-color: gray;*/
		margin: auto;
		width: 80%;
		/*transform: rotate(45deg);*/

		@mixin atMedium {
			width: 30%;
			/*height: 200px;*/
			margin: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__text {
		position: relative;
		font-size: 16px;
		color: $black;
		text-align: center;
		line-height: 1.5;
		margin: 6% 10%;

		@mixin atMedium {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin-left: 6%;
			font-size: 20px;
			padding-top:0;
			/*position: absolute;
			left: 30%;
			width: 60%;
			top: 50%;
			transform: translateY(-50%);*/
			line-height: 1.5;
		}

		&::before {
			/*content: "“";*/
			content: "";
			display: none;
			width: 50px;
			height: 50px;
			left: -5%;
			top: -5%;
			background: url('../images/left-q.png') top left no-repeat;
			background-size: contain;
		}
		&::after {
			/*content: "”";*/
			content: "";
			display: none;
			width: 50px;
			height: 50px;
			background: url('../images/right-q.png') top left no-repeat;
			background-size: contain;
			right: -5%;
			bottom: -15%;
		}
		&::before, &::after {
			font-size: 100px;
			line-height: .5;
			position: absolute;
		}
		
		
		span {
			font-size: 80px;
			position: absolute;

			@mixin atMedium {
				font-size: 100px;
			}
		}
		/*span.right-q {
			right: 0;
			top: 70%;

			@mixin atMedium {
				right: 5%;
			}
		}
		span.left-q {
			left: 0;
			bottom: 30%;

			@mixin atMedium {
			}
		}*/
	}

	&__name {
		position: relative;
		font-weight: bold;
		font-size: 20px;
		color: $red;
		padding: 10px;
		background-color: lighten($black, .7);
		width: 200px;
		margin-left: 40%;

		@mixin atMedium {
			position: absolute;
			width: 300px;
			right: 8%;
			bottom: 20%;
			font-size: 30px;
			padding: 10px 30px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			color: #FFF;
		}

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background: url('../images/left-q.png') top left no-repeat;
			background-size: contain;

			@mixin atMedium {
				width: 50px;
				height: 50px;
			}
		}
	}
}