.team {

	&__title {
		color: $black;
		text-align: center;
		padding-top: 15px;
		margin:0;

		@mixin atMedium {
			padding-top: 30px;
		}
	}

	&__content {
		height: 60%;
		padding: 2% 0;
		overflow: hidden;

		@mixin atMedium {
			height: 65%;
			padding: 5% 8%;
		}
	}

	&__nav {
		height: 100px;
		width: 80%;
		position: relative;
		left: 0;
		top: 15px;
		overflow: hidden;
		margin: 0 auto;
		text-align: left;

		@mixin atMedium {
			width: 90%;
			height: 100%;
		}
	}
	
	&__things {
		position: relative;
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&__button {
		position: absolute;
		bottom: 5%;
		right: 50%;
		transform: translateX(50%);

		@mixin atMedium {
			right: 10%;
		}
	}
}