.team {

	&__heading {
		font-size: 25px;
		color: $black;
		text-align: center;
		padding-top: 15px;
		margin:0;
		text-transform: capitalize;

		@mixin atMedium {
			font-size: 35px;
			padding-top: 30px;
		}
	}

	&__content {
		height: 67%;
		padding: 7% 0;
		overflow: hidden;

		@mixin atMedium {
			height: 65%;
			padding: 5% 8%;
		}
	}

	&__nav {
		height: 25%;
		position: relative;
		left: 0;
		overflow: hidden;
		padding-left: 50px;
		margin-bottom: 10%;
		text-align: left;
	}
	
	&__things {
		position: relative;
		display: none;

		@mixin atMedium {
			display: block;
		}
	}

	&__button {
		position: absolute;
		bottom: 5%;
		right: 50%;
		transform: translateX(50%);

		@mixin atMedium {
			right: 10%;
		}
	}
}