.title {
	color: #FFF;
	font-size: 250%;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5%;
	position: relative;
	margin: 0;

	@mixin atMedium {
		font-size: 300%;
	}

	/*&:first-letter  {
		font-size: 135%;
	}*/

	&--red {
		color: $red;
	}
	&--smaller {
		font-size: 200%;
	}

	&--small-padding-top {
		padding-top: 2%;
		padding-bottom: 5%;
	}

	
}