.events-page {
	background-image: url('../assets/pages/back-pattern.svg');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: bottom right;

	&__header {
		position: relative;
		width: 100%;
	}
}