.icon-wrapper {
	text-align: center;
	background-color: lighten($black, .3);
	padding: 15px 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

	@mixin atMedium {
		background-color: initial;
		padding: 0;
		margin-top: 15px;
		position: relative;
	}


	.cultural {
		background: url('../assets/pages/cultural-b.svg') no-repeat top center;
		background-size: auto 90%;

		&.active {
			background-image: url('../assets/pages/cultural.svg');
		}
	}

	.family {
		background: url('../assets/pages/family-b.svg') no-repeat top center;
		background-size: auto 90%;

		&.active {
			background-image: url('../assets/pages/family.svg');
		}
	}

	.business {
		background: url('../assets/pages/business-b.svg') no-repeat top center;
		background-size: auto 90%;

		&.active {
			background-image: url('../assets/pages/business.svg');
		}
	}

	.ramadan {
		background: url('../assets/pages/ramadan-b.svg') no-repeat top center;
		background-size: auto 90%;

		&.active {
			background-image: url('../assets/pages/ramadan.svg');
		}
	}


	&__icon {
		height: 50px;
		width: 22.5%;
		padding: 10px;
		display: inline-block;
		cursor: pointer;


		@mixin atMedium {
			display: block;
			width: auto;
			height: 90px;
			margin: 100px 50px;
			padding: 15px;
			position: relative;
			transition: transform .2s ease, background-color .5s ease;

			&:first-of-type {
				margin-top: 50px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			/*top: -50%;
			right: 50%;
			transform: translateX(50%);
			visibility: hidden;
			opacity: 0;
			width: 0;
			height: 0;
			border-bottom: 20px solid $red;
			border-top: none;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;*/
			visibility: hidden;
			transition: all .3s ease;

			@mixin atMedium {
				top: 40%;
				right: 0%;;
				visibility: hidden;
				opacity: 0;
				width: 0;
				height: 0;
				border-top: 30px solid transparent;
				border-bottom: 30px solid transparent;
				border-left: 30px solid $red;
				transition: all .3s ease;
			}
				
		}
		
		/*img {
			display: block;
			height: 100px;
			margin: auto;
			position: relative;
		}*/

		

		&.active {
			/*background-color: rgba($red,.7);*/
			transform: scale(1.1);

			&::after {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover {
			transform: scale(1.1);
		}

	}


	&__text {
		font-weight: bold;
		font-size: 50%;
		position: relative;
		bottom: -100%;
		display: none;

		@mixin atMedium {
			font-size: 150%;
			padding-top: 15px;
			display: inline-block;
		}
		
	}
}